
:root {
    --Pale-Blue: hsl(243, 100%, 93%);
    --Grayish-Blue: hsl(229, 7%, 55%);
    --Dark-Blue: hsl(228, 56%, 26%);
    --Very-Dark-Blue: hsl(229, 57%, 11%);   
    font-size: 10px;
    box-sizing: border-box;
}

body {
    background: var(--Very-Dark-Blue);
    background-image: url("./images/bg-desktop.png");
    background-repeat: no-repeat;
    background-position-y: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;
}

#main-content {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 65%;
    gap: 2%;

}

/* Common properties between both boxes */
.purple-box {
    background: var(--Dark-Blue);
    border-radius: 5px;
}

#fylo-box {
    width: 350px;
    height: 215px;
    border-top-right-radius: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 215px;
    
}

#fylo-box > img {
    width: 150px;
    margin-left: 3rem;
}

#icon-row {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    margin-left: 3rem;
}

.icon-border {
    width: 25px;
    height: 25px;
    background: var(--Very-Dark-Blue);
    padding: 1.5rem;
    border-radius: .8rem;

    /* Flex settings for child items in this container */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#usage {
    flex-grow: 3; /* Flex settings for self */
    height: 180px;
    color: var(--Pale-Blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#usage-content {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1.4rem;
}

#pbar-outer {
    background-color: var(--Very-Dark-Blue);
    width: 100%;
    height: 2rem;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  #pbar-inner {
    width: 81%;
    height: 1.4rem;
    background: rgb(2,0,36);
    background: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    border-radius: 10px;
    margin-left: 2px;
  }
  
  #pbar-indicator {
    background-color: var(--Pale-Blue);
    height: 1.4rem;
    width: 1.4rem;
    border-radius: 50%;
    float: right;
  }

  #info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-weight: 700;
  }

  #info p {
      margin: .8rem 0;
  }